    <!-- Include the TweenMax and jQuery links to the page.
    ================================================== -->
    

	<script>
		(function(){
			if(!window.TweenMax){
				document.write("<script src='js/tweenmax.js'><\/script>");
			}
			if(!window.jQuery){
				document.write("<script src='js/jquery-3.1.1.min.js'><\/script>");
			}
		})();
	</script>

	<script src="js/main.js"></script>

  </body>
</html>
