    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>  

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

	<!-- Incude the bulma css framework css file -->
	<!-- <link rel="stylesheet" href="/css/bulma.css"> -->

    <!-- experimental -->
    <link rel="stylesheet" href="/css/bulma-docs.css">
	
	<!-- Custom Styling for this page -->
	<link rel="stylesheet" href="/css/index.css">