<!-- <a href="/home" id="home">
  	<img src="/images/icon.png">
 </a> -->

<div id="mySidenav" class="sidenav">
  <!-- <a href="/home" id="home">
  	<img src="/images/icon.png">
  </a> -->

  <a href="#" id="about">About</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="contact">Contact</a>

<!--   <a href="#" id="one">One</a>
  <a href="#" id="two">Two</a>
  <a href="/logout" id="three">Logout</a> -->
</div>