
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
<!DOCTYPE html>
<html lang=en style="overflow-y: hidden;">
<head>
<title>Digital Agency | Website Design Company | Techxodusng</title>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta charset=utf-8>
<meta name=title content="Digital Agency | Website Design Company | Techxodusng">
<meta name=description content="Techxodus is a startup tech agency located in sub-urban Lagos, Nigeria. We build web things. Let's build something together, +2348088886044">
<meta name=keywords content="Digital Agency, Web Design, Web Design Nigeria,">
<meta property=og:type content=company />
<meta property=og:url content="https://techxodus.com.ng">
<meta property=og:title content="Digital Agency | Website Design Company| Techxodus">
<meta property=og:image content="http://techxodus.com.ng/img/home.jpg">
<meta property=og:image:secure_url content="https://techxodus.com.ng/img/home.jpg">
<meta property=og:description content="Techxodus is a startup tech agency located in sub-urban Lagos, Nigeria. We build web things. Let's build something together, +2348088886044">
<meta property=og:locale content=en_US>
<meta property=og:site_name content=Techxodusng>
<meta name=twitter:title content="Digital Agency | Website Design Company NYC | Techxodusng">
<meta name=twitter:description content="Techxodus is a startup tech agency located in sub-urban Lagos, Nigeria. We build web things. Let's build something together, +2348088886044">
<meta name=twitter:image content="http://techxodus.com.ng/img/home.jpg">
<meta name=twitter:url content="https://twitter.com/techxodusng">
<meta name=twitter:card content=summary>
<meta name=twitter:creator content="@techxodusng">
<meta name=twitter:site content="@techxodusng">
<meta name=robots content="index, follow">
<meta name=author content=Techxodusng>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/images/ico/favicon.ico">
<link rel=stylesheet href="/css/bootstrap.min.css" media=none onload="if(media!='all')media='all'"><noscript><link rel=stylesheet href="/css/bootstrap.min.css"></noscript>
<link rel=stylesheet href="/css/flexslider.min.css" media=none onload="if(media!='all')media='all'"><noscript><link rel=stylesheet href="/css/flexslider.min.css"></noscript>
<link rel=stylesheet href="/css/style.min.css" media=none onload="if(media!='all')media='all'"><noscript><link rel=stylesheet href="/css/style.min.css"></noscript>
<!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->


<style>
            .preloader {
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #031e32;
                text-align: center;
                z-index: 9999999;
            }
            .preloader .spinner {
                width: 139px;
                height: 49px;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .loader-logo{
                float:left;
            }
            .loader-logo img{
                width:180px;
                height:auto;
            }
        </style>
        <meta name="google-site-verification" content="oYArwnR8q1V7xFApl06LVVfSMCk3aSQFkOPqDajBKhM" />
    <script language="JavaScript">
        var msgIX = 0
        var msgs = new Array(
                "Branding",
                "Website Design",
                "Website Development",
                "App Design",
                "App Development",
                "SEO",
                "Branding",
                "Website Design",
                "App Design",
                "Website Development",
                "App Development",
                "SEO"
        )

        function displayMessage(milliseconds) {
            if(msgIX < msgs.length){
            if(document.getElementById != null) {
                var heading = document.getElementById("scrollme")
                heading.firstChild.nodeValue = msgs[msgIX]
            }else{
                if(navigator.appName == "Microsoft Internet Explorer") {
                    var heading = document.all.item("scrollme")
                    heading.innerText = msgs[msgIX]
                }
            }
            ++msgIX;
            window.setTimeout(function(){displayMessage(milliseconds);},milliseconds);

        }
        }
    </script>
</head>

<body data-spy=scroll data-target="#navigation" data-offset=80 onload=" window.setTimeout(function(){displayMessage(5000);},5000);">
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ234XS" height=0 width=0 style="display:none;visibility:hidden"></iframe></noscript> -->
<div class=preloader>
<div class=spinner>
<div class=loader-logo><img src="/images/techxodusng-logo.svg"></div>
</div>
</div>
<div class=menu-bg></div>
<div class=menu-burger><button class="c-hamburger c-hamburger--htx">
<span>toggle menu</span>
</button></div>
<div class=menu-items>
<ul> 
<li class=active><a alt=web-app-design-development href="">Home</a></li>
<li><a alt=website-design-and-development href="#our-work">Work</a></li>
<li><a alt=digital-marketing href="#services">Services</a></li>
<li><a alt=about href="#about">About</a></li>
<li><a alt=contact-us href="#contact">Contact</a></li>
</ul>
</div>

<section id=home class="carousel-100 blue-bk">
<div class=fullscreen-slide>
<div class="fullscreen-slide-cell tour-one">
<div class="wow fadeInUp fullscreen-slide-center text-center col-sm-12" data-wow-delay=1s>
<img src="/images/techxodusng-logo.svg" alt=digital-agency-marketing-design width=200px height=auto class="intro-logo mar-bot-15">
<h3 class="h3-hero white pad-bot-10">Who's next in digital? we're it!</h3>
<p class="white max-460">We're a <strong>result oriented</strong> startup digital agency based in sub-urban Lagos, Nigeria and we build web things.</p>
</div>
</div>
<div class="see-more-button seeMore"><i></i></div>
</div>
</section>

<section id=projects class="text-center white-bk">
<div class="container-90 padding-100">
<div class="wow fadeInUp col-lg-12 pad-bot-50" data-wow-delay=.15s>
<h1 class="pad-bot-20 text-uppercase wide">Digital Things</h1>
</div>

<div class="wow fadeInUp col-md-4 col-xs-6 worktout no-pad" data-wow-delay=.15s><a><img src="/images/makinchops.jpg" alt=makinchops></a></div>
<div class="wow fadeInUp col-md-4 col-xs-6 worktout no-pad" data-wow-delay=.15s><a"><img src="/images/breazoil.jpg" alt=breazoil></a></div>
<div class="wow fadeInUp col-md-4 col-xs-6 worktout no-pad" data-wow-delay=.15s><a><img src="/images/fuudmeetsfinga.jpg" alt=fuudmeetsfinga></a></div>
</div>

</section>

<section id=see-all-work class="">
<div class="wow fadeInUp col-sm-6 col-xs-12 blue2-bk text-center padding-80">
<img src="/images/umbrella.svg" class=umbrella>
<h3 class="h3-norm white text-uppercase pad-bot-20">What We Can Do</h3>
<a alt=our-stack class="btn btn-lg btn-theme-color white text-uppercase" id="scrollme">Website Design </a>
</div>
<div class="wow fadeInUp col-sm-6 col-xs-12 blue-bk text-center padding-80">
<img src="/images/portfolio-outline.svg" class=portfolio>
<h3 class="h3-norm white text-uppercase pad-bot-20">What We've DONE</h3>
<a href="#clients" alt=what-we-have-done class="btn btn-lg btn-theme-color white text-uppercase">Our Work</a>
</div>
<div class=clr>
</section>

<section id=clients class="text-center white-bk">
<div class="container padding-100">
<div class="wow fadeInUp col-lg-12" data-wow-delay=.15s>
<h3 class="h3-hero pad-bot-10 text-uppercase wide">Our Clients</h3>
<p class="max-675 pad-bot-50">Brands and individuals we're working with.</p>
</div>
<div class="wow fadeInUp col-lg-6 col-sm-6 col-xs-6 text-center" data-wow-delay=.15s>
    <div class="center-box text-center">
    <div class=icon-box>
    <img src="/images/makinchops-logo.svg" class=icon-100>
    </div>
    </div>
</div>
<div class="wow fadeInUp col-lg-6 col-sm-6 col-xs-6 text-center" data-wow-delay=.17s>
    <div class="center-box text-center">
    <div class=icon-box>
    <img alt=breazoil-logo src="/images/breazoil-logo.svg" class=icon-100>
    </div>
    </div>
</div>
<!-- <div class="wow fadeInUp col-lg-3 col-sm-3 col-xs-6 text-center" data-wow-delay=.18s>
    <div class="center-box text-center">
    <div class=icon-box>
    <img alt=fuudmeetsfinga-logo src="/images/fuudmeetsfinga-logo.svg" class=icon-85>
    </div>
    </div>
</div>
<div class="wow fadeInUp col-lg-3 col-sm-3 col-xs-6 text-center" data-wow-delay=.19s>
    <div class="center-box text-center">
    <div class=icon-box>
    <img alt=scionsofbariga-logo src="/images/scionsofbariga-logo.svg" class=icon-100>
    </div>
    </div>
</div> -->
</div>
</section>

<section id=designed-developed-nyc class=blue-bk>
<div class="container padding-100">
<div class="wow fadeInUp col-sm-8 text-center">
<h3 class="h3-norm white text-uppercase pad-bot-10 wide">Brief About Us</h3>
<p class=white>One of our core values at Techxodusng is team work, we believe in open collaborative work. All what we build are designed and developed in-house by our broad technical stack.</p><br/>
<a alt="contact-techxodus" href="#contact" class="btn btn-lg btn-theme-color text-uppercase white">Contact Us</a>
</div>
</section>
<section id=contact class=white-bk></div>
<div class="container-100 padding-80">
<div class="wow fadeInUp col-sm-12 text-center">
<h3 class="h3-hero pad-bot-10 text-uppercase wide">Let's Build Something Together</h3>
<p class=max-675>Every project we take on is with full dedication and inclusive feedback, we keep you in the loop all the way till we both arrive at a result that we're all proud of.</p>
</div>
</div>
<div class=container-100 style="overflow:hidden;">
<div class="wow fadeInUp col-sm-6 col-xs-12 dk-md-blue-bk text-center padding-80">
<div class=icon-box-center>
<img alt=digital-agency-marketing-design src="/images/new-business-contact.svg" class=icon-60>
</div>
<h3 class="text-uppercase white pad-bot-10">Say Hello</h3>
<p><a href="tel://+2347011122023">+234 (701) 1122023</a></p>
<p><a href="tel://+2348148282572">+234 (814) 8282572</a></p>
<!-- <p><a href="tel://+2348120675151">+234 (812) 0675151</a></p> -->
<a class=white href="mailto:info@techxodus.site?subject=Let's Work Together">info@techxodus.site</a>
</div>

<div class="wow fadeInUp col-sm-6 col-xs-12 md-blue-bk text-center padding-80">
<div class=icon-box-center>
<img alt=digital-agency-marketing-design src="/images/join-our-team-contact.svg" class=icon-50>
</div>
<h3 class="text-uppercase white pad-bot-10">Join Our Team</h3>
<p><a href="tel://+2347011122023">+234 (701) 1122023</a></p>
<p><a href="tel://+2348148282572">+234 (814) 8282572</a></p>
<!-- <p><a href="tel://+2348120675151">+234 (812) 0675151</a></p> -->
<a class=white href="mailto:careers@techxodus.site?subject=I Wan Join">careers@techxodus.site</a>
</div>

</div>
</section>

<footer id=footer class="footer blue-bk">
<div class="container-80 padding-100">
<div class=col-sm-12>
<a href="index.html"><img alt=digital-agency-marketing-design src="/images/techxodusng-logo.svg" class="footer-logo pad-bot-20"></a>
</div>
<div class="col-sm-12 icons pad-bot-20">
<a alt=digital-agency-marketing-design href="http://www.twitter.com/techxodusng" target=_blank><i class="fa fa-twitter"></i></a>
<a alt=digital-agency-marketing-design href="https://www.facebook.com/techxodusng" target=_blank><i class="fa fa-facebook"></i></a>
<a alt=digital-agency-marketing-design href="http://www.instagram.com/techxodusng" target=_blank><i class="fa fa-instagram"></i></a>
<a alt=digital-agency-marketing-design href="https://www.pinterest.com/techxodusng/" target=_blank><i class="fa fa-pinterest"></i></a>
</div>
<div class="col-sm-6 col-xs-12 footer-left pad-bot-50">
<ul>
<!-- <li class=white>off berger bridge, Iyana-oworo, Bariga</li>
<li class=white>Shomolu, Lagos State</li> -->
<li class=white><a href="tel://+2347011122023">+234 (701) 1122023</a></li>
<li class=white><a href="mailto:info@techxodus.site?subject=Let's Build Something Together">info@techxodus.site</a></li>
</ul>
</div>
<div class="col-sm-6 col-xs-12 footer-right pad-bot-50">
<ul>
<li class=footer-link><a alt=branding>Branding</a></li>
<li class=footer-link><a alt=website-design>Website Design</a></li>
<li class=footer-link><a alt=website-development>Website Development</a></li>
<li class=footer-link><a alt=digital-marketing>Digital Marketing</a></li>
<li class=footer-link><a alt=mobile-app-development>Mobile App Development</a></li>
<li class=footer-link><a alt=mobile-app-design>Mobile App Design</a></li>
<li class=footer-link><a alt=seo>SEO</a></li>
</ul>
</div>
<div class=col-xs-12>
<div class="col-sm-6 col-xs-12 no-pad footer-left">
<p class=white>© 2017 Techxodus. All Rights Reserved</p>
</div>
<div class="col-sm-6 col-xs-12 no-pad footer-right">
<p class=white>Who's next in digital? we're it!</p>
</div>
</div>
</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.vide.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.touchSwipe.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.ba-bbq.migrate.min.js"></script>
<script src="js/jquery.ba-bbq.min.js"></script>
<script src="js/viewport.min.js"></script>
<script src="js/custom.min.js"></script>
</body>
</html>
