<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Texodus: Web Application Design | Web Application Development | Training</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="/images/favicon.1d3d40607774.ico"/>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="https://use.typekit.net/yqh5sqq.js"></script>
        <script>
            try {
                Typekit.load({
                    async: true
                });
            } catch (e) {}
        </script>
        <link href="/css/main.css" rel="stylesheet" media="screen">
    </head>
    <body class="home">
        <header class="header">
            <section class="navbar">
                <article id="logo">
                    <a href="/">Techxodus</a>
                </article>
                <a href="#" class="mobile-menu">MENU</a>
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="" id="nav-home">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/open-source" id="nav-work">
                                <span>What We Do</span>
                            </a>
                        </li>
                        <li>
                            <a href="/team" id="nav-team">
                                <span>About Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="/news-events" id="nav-news">
                                <span>News &amp;Events</span>
                            </a>
                        </li>
                        <li>
                            <a href="/blog" id="nav-blog" class="last">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.hbs#" id="nav-contact" class="contact-us contact-modal">
                                <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>
        <section class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide sl-techxodus">
                    <article class="slide-content">
                        <div class="intro" data-swiper-parallax="-100">At Techxodus we build great web applications
                    </div>
                    </article>
                </div>
                <a href="9janext/index.hbs" class="swiper-slide sl-hub">
                    <article class="slide-content">
                        <div class="title" data-swiper-parallax="-100">9ja Next</div>
                        <div class="subtitle" data-swiper-parallax="-300">
                            Blogging platform about top informative info within and outside Nigeria
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" enable-background="new 0 0 90 90">
                                <path fill="#fff" d="m47.3 18c-1.4 1.4-1.4 3.7 0 4.9l18.8 18.6h-53.1c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5h53.1l-18.8 18.6c-1.4 1.4-1.4 3.5 0 4.9 1.4 1.4 3.5 1.4 4.9 0l27.3-27-27.5-27c-1.2-1.4-3.5-1.4-4.7 0"/>
                            </svg>
                        </div>
                    </article>
                </a>
                <a href="insidebariga/index.hbs" class="swiper-slide sl-flightcar">
                    <article class="slide-content">
                        <div class="title" data-swiper-parallax="-100">Inside Bariga</div>
                        <div class="subtitle" data-swiper-parallax="-200">
                            Social image and videos sharing, intergrated with instagram and facebook.
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" enable-background="new 0 0 90 90">
                                <path fill="#fff" d="m47.3 18c-1.4 1.4-1.4 3.7 0 4.9l18.8 18.6h-53.1c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5h53.1l-18.8 18.6c-1.4 1.4-1.4 3.5 0 4.9 1.4 1.4 3.5 1.4 4.9 0l27.3-27-27.5-27c-1.2-1.4-3.5-1.4-4.7 0"/>
                            </svg>
                        </div>
                    </article>
                </a>
                <a href="fmf/index.hbs" class="swiper-slide sl-mystic">
                    <article class="slide-content">
                        <div class="title" data-swiper-parallax="-100">FMF</div>
                        <div class="subtitle" data-swiper-parallax="-200">
                            Fuud meets finga is a personal food blogging site
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" enable-background="new 0 0 90 90">
                                <path fill="#fff" d="m47.3 18c-1.4 1.4-1.4 3.7 0 4.9l18.8 18.6h-53.1c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5h53.1l-18.8 18.6c-1.4 1.4-1.4 3.5 0 4.9 1.4 1.4 3.5 1.4 4.9 0l27.3-27-27.5-27c-1.2-1.4-3.5-1.4-4.7 0"/>
                            </svg>
                        </div>
                    </article>
                </a>
                <a href="sob/index.hbs" class="swiper-slide sl-emergence">
                    <article class="slide-content">
                        <div class="title" data-swiper-parallax="-100">Scions Of Bariga</div>
                        <div class="subtitle" data-swiper-parallax="-200">
                            A music centric blog. 
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" enable-background="new 0 0 90 90">
                                <path fill="#fff" d="m47.3 18c-1.4 1.4-1.4 3.7 0 4.9l18.8 18.6h-53.1c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5h53.1l-18.8 18.6c-1.4 1.4-1.4 3.5 0 4.9 1.4 1.4 3.5 1.4 4.9 0l27.3-27-27.5-27c-1.2-1.4-3.5-1.4-4.7 0"/>
                            </svg>
                        </div>
                    </article>
                </a>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </section>
        <a href="index.hbs#highlight-container" class="floating scroll">Scroll down to learn more</a>
        <section class="container">
            <section class="highlight-container" id="highlight-container">
                <section class="highlight">
                    <article>
                        <h2>What We Do</h2>
                        <h3>At Techxodus we rapidly develop powerful web applications for clients of all sizes, from large enterprises to emerging organizations with an entrepreneurial vision.</h3>
                        <p>We are new in the market. Dont take this lightly though, we've have an arsenal of code wizes. We already started working on projects for a wide variety of clients in the following areas:
                    </p>
                        <ul class="service-list">
                            <li>Blogging</li>
                            <li>eCommerce</li>
                            <li>Education</li>
                            <li>Conference websites</li>
                            <li>Social/community websites</li>
                            <li>Sharing economy</li>
                            <li>Marketing research</li>
                            <li>Surveys and analytics</li>
                            <li>Broadcast</li>
                        </ul>
                        <p class="more">
                            <a href="work/index.hbs">learn more
                        </a>
                        </p>
                    </article>
                    <article class="work-photo"></article>
                </section>
            </section>
        </section>
        <section class="clients">
            <header>
                <h2>Our Clients</h2>
                <h4>We are going to be working with organizations in a wide range of industries, including media, broadcasting, healthcare, education, and the-next-thing. Get in contact with us, we will like to add you too.</h4>
            </header>
            <article class="client-logos">
                <img src="/images/logo.pngg" alt="Techxodus.com.ng" class="vanderbilt-medical"/><!-- 
                <img src="/images/logos/memorialsloankettering.png" alt="Memorial Sloan Kettering Cancer Center" class="memorialsloan"/>
                <img src="/images/logos/mgh.png" alt="Massachusetts General Hospital" class="mgh"/>
                <br/>
                <img src="/images/logos/bc.png" alt="Boston College" class="boston-college"/>
                <img src="/images/logos/mit.svg" alt="Massachusetts Institute of Technology" class="mit"/>
                <img src="/images/logos/tufts-university.jpg" alt="Tufts University" class="tufts"/>
                <img src="/images/logos/vanderbilt.png" alt="Vanderbilt University" class="vanderbilt"/>
                <img src="/images/logos/edx.png" alt="edX" class="edx"/>
                <br/>
                <img src="/images/logos/music_research.svg" alt="Music Research by Emergence" class="music-research"/>
                <img src="/images/logos/smith-moore.png" alt="Smith Moore &amp; Associates" class="sma"/>
                <img src="/images/logos/sportsblog.png" alt="sportsblog" class="sportsblog"/> -->
            </article>
        </section>
        <section class="testimonials">
            <header>
                <h2>Testimonials</h2>
                <h4>Our customer success stories illustrate how we can work with you to turn your vision into reality.</h4>
            </header>
            <article class="slider-box">
                <div class="flexslider cd-testimonials-wrapper cd-container">
                    <section class="cd-testimonials">
                        <article>
                            <blockquote class="quote">
                                <section class="responsive-video">
                                    <iframe id="player_1" src="https://player.vimeo.com/video/145333168?color=ffffff&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </section>
                                <div class="cd-author">
                                    <ul class="cd-author-info">
                                        <li>A video testimonial from Emergence founder Michael Wright.</li>
                                    </ul>
                                </div>
                            </blockquote>
                        </article>
                        <article>
                            <blockquote class="quote">
                                <p>Techxodus is proactive, responsive, flexible and most important, produces high-quality work. We couldn’t have built The Hub, our award-winning data integration and publishing platform, without them.
                            </p>
                                <div class="cd-author">
                                    <ul class="cd-author-info">
                                        <li>Oliver Hayward</li>
                                        <li class="cd-meta">Global Partner, Hall and Partners</li>
                                    </ul>
                                </div>
                            </blockquote>
                        </article>
                        <article>
                            <blockquote class="quote">
                                <p>The discovery workshop was a significant opportunity for us to introduce our business, pain points, and development ideas with Techxodus. By having a face-to-face conversation and being able to show Techxodus our operation, it helped us start the development process with a greater understanding of what we wanted to accomplish and how to achieve our goals.
                            </p>
                                <div class="cd-author">
                                    <ul class="cd-author-info">
                                        <li>Todd Purcell</li>
                                        <li class="cd-meta">Co-President, Superior Threads</li>
                                    </ul>
                                </div>
                            </blockquote>
                        </article>
                        <article>
                            <blockquote class="quote">
                                <p>Techxodus has helped me bring multiple ideas to launch. Their expertise in bringing apps from an idea to the launch phase and beyond has made them a go-to technology partner for building web applications.
                            </p>
                                <div class="cd-author">
                                    <ul class="cd-author-info">
                                        <li>Mike Prasad</li>
                                        <li class="cd-meta">
                                            Managing Director, Partner<br/>ventureLab Growth Partners
                                        </li>
                                    </ul>
                                </div>
                            </blockquote>
                        </article>
                    </section>
                </div>
            </article>
        </section>
        <section class="partnership">
            <section class="partnership-content">
                <h2>Imagine What We Can Do for You</h2>
                <section class="box-wrapper">
                    <a href="blog/2017/10/24/javascript-testing-jasmine-and-karma/index.hbs" class="box">
                        <div class="icon"></div>
                        <h4>We’re always thinking about something.</h4>
                        <p>
                            <span class="btn-more">Read our latest blog post</span>
                        </p>
                    </a>
                </section>
                <section class="box-wrapper">
                    <a href="http://techxodus.com/ajax/contact/" class="box">
                        <div class="icon icon-last"></div>
                        <h4>Want to get your application into development?</h4>
                        <p>
                            <span class="contact-modal btn-more">Get started now</span>
                        </p>
                    </a>
                </section>
                <section class="box-wrapper">
                    <a href="consulting/django-site-care/index.hbs#django-site-care" class="box" target="_blank">
                        <div class="icon icon-first"></div>
                        <h4>Keep your Django site running smoothly.</h4>
                        <p>
                            <span class="btn-more">Find out more</span>
                        </p>
                    </a>
                </section>
            </section>
        </section>
        <footer class="footer">
            <section>
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="index.hbs" id="nav-home">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="open-source/index.hbs" id="nav-work">
                                <span>What We Do</span>
                            </a>
                        </li>
                        <li>
                            <a href="team/index.hbs" id="nav-team">
                                <span>About Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="news-events/index.hbs" id="nav-news">
                                <span>News &amp;Events</span>
                            </a>
                        </li>
                        <li>
                            <a href="blog/index.hbs" id="nav-blog" class="last">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.hbs#" id="nav-contact" class="contact-us contact-modal">
                                <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <article id="logo">
                    <a href="index.hbs">Techxodus</a>
                </article>
                <article class="links">
                    <section>
                        <article class="social-links">
                            <a href="http://twitter.com/techxodus" title="Follow @techxodus on twitter" class="twitter"></a>
                            <a href="https://github.com/techxodus/" title="@techxodus on Github" class="github"></a>
                        </article>
                        Techxodus &reg;&middot;<a href="mailto:info@techxodus.com" title="Email info@techxodus.com">info@techxodus.com</a>
                        &middot;<a href="privacy/index.hbs">Privacy</a>
                    </section>
                </article>
            </section>
        </footer>
<!-- Bunch of scripts -->
{{! > scripts-1 }}
<!--  -->
        <div class="modal">
            <input class="modal-state" type="checkbox"/>
            <div class="modal-window">
                <div class="modal-inner">
                    <label class="modal-close" for="modal-1"></label>
                    <section class="contact">
                        <header>
                            <h2>Get in touch with us</h2>
                            <h5>Please fill out the contact form for new project inquiries.</h5>
                        </header>
                        <form method="post" class="ajax" action="http://techxodus.com/ajax/contact/" data-replace=".contact">
                            <input type='hidden' name='csrfmiddlewaretoken' value='jbdiuaJBWWubvsbvswsuvwuvSVSUVEWUVSus8iue838i89d89bgbgv8YFV7F8u'/>
                            <div style="display: none;">
                                <label>
                                    leave this field blank to prove your humanity
        <input type="text" name="cellphone" value=""/>
                                </label>
                            </div>
                            <section class="form-control">
                                <label>Full name</label>
                                <input id="id_name" name="name" type="text"/>
                            </section>
                            <section class="form-control">
                                <label>Company/Organization</label>
                                <input id="id_company" name="company" type="text"/>
                            </section>
                            <section class="form-control ">
                                <label>Email address</label>
                                <input id="id_email" name="email" placeholder="Enter a valid email address" type="email" required/>
                            </section>
                            <section class="form-control">
                                <label>Phone</label>
                                <input id="id_phone" name="phone" type="text"/>
                            </section>
                            <section class="form-control">
                                <label>Type of service</label>
                                <input id="id_service" name="service" placeholder="Web Development, Lean Coaching, etc" type="text"/>
                            </section>
                            <section class="form-control">
                                <label>Project Budget</label>
                                <ul id="id_budget">
                                    <li>
                                        <label for="id_budget_0">
                                            <input id="id_budget_0" name="budget" type="radio" value="low"/>50,000–100,000 USD
                                        </label>
                                    </li>
                                    <li>
                                        <label for="id_budget_1">
                                            <input id="id_budget_1" name="budget" type="radio" value="medium"/>100,000–250,000 USD
                                        </label>
                                    </li>
                                    <li>
                                        <label for="id_budget_2">
                                            <input id="id_budget_2" name="budget" type="radio" value="high"/>More than 250,000 USD
                                        </label>
                                    </li>
                                </ul>
                            </section>
                            <section class="form-control">
                                <label>Message</label>
                                <textarea cols="40" id="id_message" name="message" placeholder="Please provide a description of how you&#39;d like us to help." rows="10"></textarea>
                            </section>
                            <input type="submit" value="Send"/>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <!-- scripts -->
        {{! > scripts-2 }}
        <!--  -->
    </body>
</html>
