<!DOCTYPE html>
<html lang="en">
<head>
	 {{!> head }}  
	<link href="https://fonts.googleapis.com/css?family=Cookie|Courgette|Fascinate+Inline|Jim+Nightshade|Kaushan+Script|Libre+Baskerville|Lobster+Two|Lora|Pacifico|Rock+Salt|Satisfy|Sigmar+One|Vollkorn" rel="stylesheet">
	
</head>

<body class="img-responsive cashimg"alt="background image">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
