<!DOCTYPE html>
<html>
<head>
	{{> head }}
	<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
	<!-- Hotjar Tracking Code for techxodus.com.ng -->
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:681395,hjsv:6};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	<style></style>
</head>
<body>

	<section class="hero is-warning is-fullheight is-bold">
	  <!-- Hero header: will stick at the top -->
	  <div class="hero-head is-small">
	    <header class="nav">
	      <div class="container">
	        <div class="nav-left">
	          <a href="/" class="nav-item is-active">
	            {{> logo-src}}
	          </a>
	        </div>
	        <span class="nav-toggle">
	          <span></span>
	          <span></span>
	          <span></span>
	        </span>
	        <div class="nav-right nav-menu">
	          <a href="/privacy-terms" class="nav-item">
	            Terms Of Privacy
	          </a>
	          <a href="/about" class="nav-item">
	            About Us
	          </a>
	          <a href="/team" class="nav-item">
	            The Team
	          </a>
            <a href="/ourwork" class="nav-item is-active">
              Our Work
            </a>
	        </div>
	      </div>
	    </header>
	  </div>



	  <!-- Hero content: will be in the middle -->
	  <div class="hero-body">
	    <div class="container has-text-centered">
	    </div>
	    <div class="container has-text-centered">
			<div class="field is-grouped">
			  <h2 class="control">
			  We're what's next in tech!
			  </h2>
			</div>
	    </div>
	  </div>



	  <!-- Hero footer: will stick at the bottom -->
<!-- 	  <div class="hero-foot">
	    <nav class="tabs">
	      <div class="container">
	        <ul>
	          <li class="is-active"><a>Overview</a></li>
	          <li><a>Modifiers</a></li>
	          <li><a>Grid</a></li>
	          <li><a>Elements</a></li>
	          <li><a>Components</a></li>
	          <li><a>Layout</a></li>
	        </ul>
	      </div>
	    </nav>
	  </div> -->
	</section>



{{> footer-script }}
