<!DOCTYPE html>
<html>
<head>
    {{> head }}
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <style></style>
</head>
<body>

    <section class="hero is-danger is-small is-bold">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head is-small">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a href="/" class="nav-item">
              {{> logo-src}}
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a href="/privacy-terms" class="nav-item is-active">
              Terms Of Privacy
            </a>
            <a href="/about" class="nav-item">
              About Us
            </a>
            <a href="/team" class="nav-item">
              The Team
            </a>
            <a href="/ourwork" class="nav-item">
              Our Work
            </a>
          </div>
        </div>
      </header>
    </div>
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Terms Of Privacy
          </h1>
          <h2 class="subtitle">
            We take your privacy serious.
          </h2>
        </div>
      </div>
    </section>

...

{{> footer-script }}

